# template.gunicorn.service
[Unit]
Description=gunicorn daemon for Django project __PROJECT_DIR__
Requires=gunicorn.socket
After=network.target

[Service]
User=__USER__
Group=www-data
WorkingDirectory=__PROJECT_DIR__
# Gunicorn sẽ tự động nhận socket từ Systemd, vẫn dùng -c để load workers, logs,...
ExecStart=__VENV_DIR__/bin/gunicorn -c __GUNICORN_CONF__ __DJANGO_MODULE__.wsgi:application

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
